<!--- basic page needs
    ================================================== -->
<meta charset="utf-8">
<meta name="description" content="Indium Exchange">
<meta name="author" content="Kumar Anirudha [anirudhastark@yahoo.com] <anistark>">

<!-- mobile specific metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
