<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/vendor.css">

<script src="/js/modernizr.js"></script>

<link rel="icon" type="image/png" href="/favicon.png">
