<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h2 class="h01">Hear What Are Clients Say.</h2>
        </div>
    </div>

    <div class="row flex-container">

        <div id="testimonial-slider" class="flexslider">

            <ul class="slides">

                <li>
                    <div class="testimonial-author">
                        <img src="images/avatars/avatar-1.jpg" alt="Author image">
                        <div class="author-info">
                            Steve Jobs
                            <span class="position">CEO, Apple.</span>
                        </div>
                    </div>

                    <p>
                        Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                        to do what you believe is great work. And the only way to do great work is to love what you do.
                        If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                    </p>
                </li>

                <li>

                    <div class="testimonial-author">
                        <img src="images/avatars/avatar-2.jpg" alt="Author image">
                        <div class="author-info">
                            John Doe
                            <span>CEO, ABC Corp.</span>
                        </div>
                    </div>

                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    </p>

                </li>

            </ul>

        </div>

    </div>

</section>